@model WebApp.Models.Frontend.InventoryAndProductionOverview
@{
    ViewBag.Title = "Lager- og Produktionsoversigt";
}

<h2>Lageroversigt</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Varenummer</th>
            <th>Varenavn</th>
            <th>Kategori</th>
            <th>Enhed</th>
            <th>Modtagelsesdato</th>
            <th>Mængde</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RawMaterials)
        {
            <tr>
                <td>@item.UUID</td>
                <td>@item.MaterialName</td>
                <td>@item.Category</td>
                <td>@item.Unit</td>
                <td>@item.ReceivedDate.ToString("dd-MM-yyyy")</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<h2>Produktionsoversigt</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Produktionsnummer</th>
            <th>Produktionsnavn</th>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Status</th>
            <th>Planlagt Antal</th>
            <th>Fuldført Antal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var production in Model.Productions)
        {
            <tr>
                <td>@production.UUID</td>
                <td>@production.ProductionName</td>
                <td>@production.StartDate.ToString("dd-MM-yyyy")</td>
                <td>@(production != null ? production.EndDate?.ToString("dd-MM-yyyy") ?? "Produkt ikke færdigt" : "Fejl. Ingen produktion")</td>
                <td>@production.Status</td>
                <td>@production.PlannedQuantity</td>
                <td>@production.CompletedQuantity</td>
            </tr>
        }
    </tbody>
</table>
