@model List<WebApp.DTO.RawMaterialDTO>
@{
    ViewBag.Title = "Råvarer";
}


<div class="top-bar">
    <div class="search-container">
        <form action="">
            <button type="submit">
                <i class="bi-box-fill"></i>
                <i class="bi bi-search"></i>
            </button>
            <input type="text" placeholder="Search..." name="Search">
        </form>
    </div>
</div>

<div class="body">

    <div class="crud">
        <button class="crud-btn to-do">Slet</button>
        <button class="crud-btn in-progress">Redigér</button>
        <button class="crud-btn create-type">Opret Type</button>
        <button class="crud-btn create-new">Opret Ny</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Varenavn</th>
                <th>Værdi</th>
                <th>Måleenhed</th>
                <th>Udløbsdato</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Material_id</td>
                    <td>@item.Name</td>
                    <td>@item.MeasurementValue</td>
                    <td>@item.MeasurementType</td>
                    <td>@item.ExpirationDate</td>
                </tr>
            }
        </tbody>
    </table>


</div>

